@charset "utf-8";

body{margin:0}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{display:none}
html{height:100%;background-color:#f0f0f0}
a{outline:none}
/* module skin */
.mod_head{height:34px;position:relative;padding-top:10px;border-bottom:1px solid black;
background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ba3131), to(#911b1b));
background:-webkit-linear-gradient(top,#ba3131,#911b1b);
background:-moz-linear-gradient(top,#ba3131,#911b1b);
background:-ms-linear-gradient(top,#ba3131,#911b1b);
background:-o-linear-gradient(top,#ba3131,#911b1b);
background:linear-gradient(top,#ba3131,#911b1b);}
.mod_title{font-size:19px;color:white;text-align:center;line-height:normal;font-weight:bold;margin:0}
.btn_srch{position:absolute;top:7px;right:5px;width:45px;height:31px;border:none;text-indent:-9999em;background:url(../img/btn_srch.png) no-repeat left top;background-size:45px 31px;cursor:pointer}
.btn_back_left{overflow:hidden;position:absolute;top:7px;left:5px;padding-left: 13px;height:31px;border:none;background:url('../img/btn_back_left.png') no-repeat 0 0, url(../img/btn_back.png) repeat-x 0 0;background-clip:border-box,content-box;-moz-background-clip:border-box,content-box;-webkit-background-clip:border-box,content-box;}
.btn_back_right{display:block;padding:0 7px 0 0;height:31px;line-height:31px;background:url(../img/btn_back_right.png) no-repeat 100% 0;color:#fff;font-size:12px.text-shadow:1px 1px 0 #144d66}
.mod_head .srch{display:none;position:absolute;top:44px;z-index:10;width:100%;height:40px;border-bottom:1px solid #000;border-top:1px solid #000;
background:-webkit-gradient(linear, 0 0, 0% 100%, from(#dedede), to(#d1d1d1));
background:-webkit-linear-gradient(#dedede,#d1d1d1);
background:-moz-linear-gradient(top,#dedede,#d1d1d1);
background:-ms-linear-gradient(top,#dedede,#d1d1d1);
background:-o-linear-gradient(top,#dedede,#d1d1d1);
background:linear-gradient(top,#dedede,#d1d1d1);}
.mod_head .srch fieldset {margin:0;padding:0}
.mod_head .srch fieldset>span{display:block;height:20px;position:relative;margin:4px 10px 6px;padding:3px 15px;border:1px solid #2f444c;border-radius:28px/25px;background-color:#fff;box-shadow:inset 3px 3px 5px rgba(118,118,118,.75)}
.mod_head .srch fieldset legend{display:none}
.searchkey{width:95%;height:20px;line-height:20px;padding-left:12px;border:none;background:url('../img/btn_srch.gif') no-repeat 0 5px;background-size:13px 13px;font-size:13px;-webkit-appearance:none;outline:none}
.btn_cancel{display:none;overflow:hidden;position:absolute;top:6px;right:15px;width:13px;height:13px;border:none;background:url('../img/btn_cls.gif') no-repeat 0 0;background-size:13px 13px;font-size:0;line-height:0;vertical-align:middle}
.ct{background-color:#f0f0f0}
.ct ul{margin:0;padding:0;list-style:none}
.ct_tab{height:35px;*zoom:1}
.ct_tab li{float:left;width:33%;border-bottom:1px solid #656565;background-color:#D6D6D6;text-align:center;height:34px;line-height:34px}
.ct_tab li a{display:block;border-left:1px solid #656565;font-size:16px;font-weight:bold;color:#797979;text-transform:capitalize;outline:none}
.ct_tab li.first a{border-left:none}
.ct_tab li.active{border-bottom:none;background:#f0f0f0}
.ct_tab li.active a{color:#3b3b3b}
.ct_tab li.last{width:34%}
.cafe_lst li,.doc_list li{position:relative;overflow:hidden;height:49px;padding:7px;background:url('../img/bg_li.gif') repeat-x 0 100%}
.cafe_thumbnail{float:left;width:50px;height:48px;border:1px solid #c3c3c3}
.cafe_thumbnail img{vertical-align:top}
.cafe_info{margin-left:60px;margin-top:-2px;line-height:normal}
.cafe_info dl{margin:0}
.cafe_info dt a{font-size:15px;color:#3b3b3b;font-weight:bold}
.cafe_info dd{font-size:13px;color:#7c7c7c;line-height:1.5;margin-left:0}
.cafe_info dd p{margin:0}
.cafe_info .lst{margin-top:5px}
.cafe_info dd span{font-size:12px;color:#979797}
.cafe_info dd span img{margin-right:4px}
.doc_list .cafe_info{margin-left:0}
.cafe_info dd .date,.cafe_info dd .time{margin-left:4px;padding-left:4px;background:url('../img/bg_span.gif') no-repeat 0 50%}
.btn_like ,.btn_dislike{overflow:hidden;position:absolute;top:19px;right:7px;width:20px;height:20px}
.btn_like{background:url('../img/favarite.gif') no-repeat 0 0;background-size:20px 20px}
.btn_dislike{background:url('../img/non_favarite.gif') no-repeat 0 0;background-size:20px 20px}
.pagination{padding:10px 0;text-align:center}
.pagination a,.pagination strong{display:inline-block;margin-right:14px;vertical-align:middle}
.comment_num{position:absolute;top:17px;right:6px;padding-top:3px;width:28px;height:25px;background:url('../img/comment_num.gif') no-repeat 0 0;background-size:28px 28px;text-align:center;}
.comment_num a{font-size:13px;color:#b62d2d}
.view_more{width:100%;height:40px;
background:-webkit-gradient(linear, 0 0, 0% 100%, from(#ededed), to(#b3b3b3));
background:-webkit-linear-gradient(#ededed,#b3b3b3);
background:-moz-linear-gradient(top,#ededed,#b3b3b3);
background:-ms-linear-gradient(top,#ededed,#b3b3b3);
background:-o-linear-gradient(top,#ededed,#b3b3b3);
background:linear-gradient(top,#ededed,#b3b3b3);}
#getMore{display:inline-block;padding-top:10px;width:80%;height:30px;text-align:center;font-size:15px;color:#585858;text-transform:capitalize}
.more{display:inline-block;margin-left:4px;width:11px;height:6px;background:url('../img/bg_arrow.gif') no-repeat 0 0;background-size:11px 6px}
.top{display:inline-block;padding-top:10px;width:20%;height:30px;background:url('../img/bg_top.gif') no-repeat 0 0;font-size:15px;color:#585858;text-align:center;vertical-align:top}
.desc_txt{overflow:hidden;width:80%;height:16px;text-overflow:ellipsis;white-space:nowrap}
.desc_img{position:absolute;top:25px;right:50px}
.cafe_item li{height:42px;line-height:42px;}
.cafe_item li a{display:block;padding-left:10px;background:url('../img/bg_li.gif') repeat-x 0 100%;font-size:17px;color:#353535;}
/*.cafe_item li.hover{margin-top:-1px;border-top:1px solid #505050;border-bottom:1px solid #505050}
.cafe_item li.hover a{box-shadow:inset 3px 3px 5px rgba(167,167,167,.75);color:#fff;
background:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#bcbcbc), to(#c7c6c6));
background:-webkit-linear-gradient(bottom,#bcbcbc,#c7c6c6);
background:-moz-linear-gradient(bottom,#bcbcbc,#c7c6c6);
background:-ms-linear-gradient(bottom,#bcbcbc,#c7c6c6);
background:-o-linear-gradient(bottom,#bcbcbc,#c7c6c6);
background:linear-gradient(bottom,#bcbcbc,#c7c6c6);}*/
.cafe_info_mod{padding:0 10px}
.cafe_title{margin:7px 0;font-size:14px;color:#3b3b3b;letter-spacing:-1px}
.cafe_cont{border:1px solid #b6b6b6;border-radius:10px}
.cafe_cont li{padding-left:4px;height:26px;line-height:26px;border-bottom:1px solid #cecece;font-size:13px;color:#797979}
.cafe_cont .last{border-bottom:none}
.normal{margin-left:7px;font-weight:normal;color:#3b3b3b}
.num{display:inline-block;margin:0 0 0 7px;width:80px;color:#259dc4}
.num2,.num3{display:inline-block;margin-left:9px;color:#535353}
.num2{width:57px}
.num3{width:65px}
.red{margin-left:10px;color:#cd2727}
.btn_area{margin:10px 0;text-align:center}
.btn_sign_up,.btn_leave{display:inline-block;margin-left:20px;padding:0 27px;height:26px;text-transform:capitalize;line-height:26px;border:1px solid #740809;border-radius:15px;color:#fff;font-weight:bold;font-size:14px;
background:-webkit-gradient(linear, 0 0, 0% 100%, from(#b22b32), to(#7b0b0b));
background:-webkit-linear-gradient(#b22b32,#7b0b0b);
background:-moz-linear-gradient(top,#b22b32,#7b0b0b);
background:-ms-linear-gradient(top,#b22b32,#7b0b0b);
background:-o-linear-gradient(top,#b22b32,#7b0b0b);
background:linear-gradient(top,#b22b32,#7b0b0b);}
.c_reply {background: url("../img/iconReply.gif") no-repeat scroll right 5px transparent;}
