<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions>
        <permission action="dispHomepageAdminSiteManage" target="manager" />
        <permission action="dispHomepageAdminSiteMemberGroupManage" target="manager" />
        <permission action="dispHomepageAdminSiteMemberManage" target="manager" />
        <permission action="dispHomepageAdminSiteTopMenu" target="manager" />
        <permission action="dispHomepageAdminSiteComponent" target="manager" />
        <permission action="dispHomepageAdminSiteCounter" target="manager" />
        <permission action="dispHomepageAdminSiteMidSetup" target="manager" />

        <permission action="dispHomepageCreate" target="member" />
        
		<permission action="getHomepageMenuTplInfo" target="manager" />

        <permission action="procHomepageCafeCreation" target="member" />
        <permission action="procHomepageChangeLayout" target="manager" />
        <permission action="procHomepageChangeLanguage" target="manager" />
        <permission action="procHomepageInsertMenuItem" target="manager" />
        <permission action="procHomepageDeleteMenuItem" target="manager" />
        <permission action="procHomepageMenuItemMove" target="manager" />
        <permission action="procHomepageMenuUploadButton" target="manager" />
        <permission action="procHomepageDeleteButton" target="manager" />
        <permission action="procHomepageDeleteGroup" target="manager" />
        <permission action="procHomepageInsertGroup" target="manager" />
        <permission action="procHomepageUpdateMemberGroup" target="manager" />
        <permission action="procHomepageDeleteMember" target="manager" />
        <permission action="procHomepageUpdateBoardSkin" target="manager" />
        <permission action="procHomepageChangeIndex" target="manager" />
        <permission action="procHomepageUpdateSiteConfig" target="manager" />
        <permission action="procHomepageUpdateLayoutConfig" target="manager" />
    </permissions>
    <actions>
        <action name="dispHomepageIndex" type="view" standalone="true" index="true" />
        <action name="dispHomepageManage" type="view" />
        <action name="dispHomepageCreate" type="view" />
        <action name="rss" type="view" />

        <action name="dispHomepageAdminSiteManage" type="view" standalone="true" />
        <action name="dispHomepageAdminSiteMemberGroupManage" type="view" standalone="true" />
        <action name="dispHomepageAdminSiteMemberManage" type="view" standalone="true" />
        <action name="dispHomepageAdminSiteTopMenu" type="view" standalone="true" />
        <action name="dispHomepageAdminSiteComponent" type="view" standalone="true" />
        <action name="dispHomepageAdminSiteCounter" type="view" standalone="true" />
        <action name="dispHomepageAdminSiteMidSetup" type="view" standalone="true" />

        <action name="getHomepageMenuItem" type="model" standalone="true" />
        <action name="getHomepageMenuTplInfo" type="model" standalone="true" />

        <action name="procHomepageCafeCreation" type="controller" standalone="true" />
        <action name="procHomepageChangeLayout" type="controller" standalone="true" />
        <action name="procHomepageChangeLanguage" type="controller" standalone="true" />
        <action name="procHomepageInsertMenuItem" type="controller" standalone="true" />
        <action name="procHomepageDeleteMenuItem" type="controller" standalone="true" />
        <action name="procHomepageMenuItemMove" type="controller" standalone="true" />
        <action name="procHomepageMenuUploadButton" type="controller" standalone="true" />
        <action name="procHomepageDeleteButton" type="controller" standalone="true" />
        <action name="procHomepageDeleteGroup" type="controller" standalone="true" />
        <action name="procHomepageInsertGroup" type="controller" standalone="true" />
        <action name="procHomepageDeleteMember" type="controller" standalone="true" />
        <action name="procHomepageUpdateMemberGroup" type="controller" standalone="true" />
        <action name="procHomepageChangeIndex" type="controller" standalone="true" />
        <action name="procHomepageInsertCafeBanner" type="controller" standalone="true" />
        <action name="procHomepageUpdateSiteConfig" type="controller" standalone="true" ruleset="updateSiteConfig" />
        <action name="procHomepageUpdateLayoutConfig" type="controller" standalone="true" ruleset="updateLayout" />

        <action name="dispHomepageAdminContent" type="view" standalone="true" admin_index="true" menu_name="cafexe" menu_index="true" />
        <action name="dispHomepageAdminInsert" type="view" standalone="true" />
        <action name="dispHomepageAdminManage" type="view" standalone="true" />
        <action name="dispHomepageAdminSetup" type="view" standalone="true" />
        <action name="dispHomepageAdminSkinSetup" type="view" standalone="true" />
        <action name="dispHomepageAdminDelete" type="view" standalone="true" />

        <action name="procHomepageAdminInsertConfig" type="controller" />
        <action name="procHomepageAdminInsertHomepage" type="controller" ruleset="insertHomepage" />
        <action name="procHomepageAdminUpdateHomepage" type="controller" />
        <action name="procHomepageAdminDeleteHomepage" type="controller" />
        <action name="procHomepageAdminImportModule" type="controller" />
        <action name="procHomepageAdminExportModule" type="controller" />

		<!-- for mobile skins - 2012.05.31-->
		<action name="dispHomepageMyCafe" type="view" />
		<action name="dispHomepageNewestDoc" type="view" />
		<action name="dispMobileCafeSite" type="view" />
		<action name="dispSiteCafeItems" type="view" />
		<action name="dispCafeSiteInfo" type="view" />
		<action name="dispHomepageDocs" type="view" />

    </actions>
	<menus>
		<menu name="cafexe" type="all">
			<title xml:lang="en">cafeXE</title>
			<title xml:lang="ko">cafeXE</title>
			<title xml:lang="zh-CN">cafeXE</title>
			<title xml:lang="jp">cafeXE</title>
			<title xml:lang="es">cafeXE</title>
			<title xml:lang="ru">cafeXE</title>
			<title xml:lang="fr">cafeXE</title>
			<title xml:lang="zh-TW">cafeXE</title>
			<title xml:lang="vi">cafeXE</title>
			<title xml:lang="mn">cafeXE</title>
			<title xml:lang="tr">cafeXE</title>
		</menu>
	</menus>
</module>
